* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ==================================Front HEADER Page===============================*/
header {
  position: relative;
}

.homeAnchor {
  text-decoration: none;
  color: #5f9dee;
}

.leftHeader li, .rightHeader li {
  padding-left: 40px;
  font-size: 1.3rem;
  margin-top: 25px;
}

.leftHeader li a, .rightHeader li a {
  color: #5f9dee;
  text-decoration: none;
}

.frontHeaderMainDiv {
  display: flex;
  padding: 50px;
  background-color: #ecf3fb;
  width: 100vw;
}


.leftDivOfFrontHeaderMainDiv, .rightDivOfFrontHeaderMainDiv {
  width: 50%;
  height: 80vh;
}

.imagePng img {
  margin-top: 20%;
  max-width: 100%;
}

.lets-Start-text {
  color: rgb(70, 109, 152);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.dive-Into-text {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.get-ready-text {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.playNow-button {
  margin-top: 20px; /* Space between image and play button */
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    background-color: #5f9dee;
    border-radius: 2rem;
    color: white;
    border: none;
    cursor: pointer;
}

/* Define keyframe animations for fade in and fade out */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the keyframe animations */
.frontHeaderMainDiv {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.frontHeaderMainDiv.hidden {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}

.hidden {
  display: none;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ecf3fb;
}

/* ==================================Front HEADER PAge ENDS ===============================*/

.mainDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f2f7f7;
  height: 60vh;
  width: 60vw;
  border: 1px solid rgb(193, 227, 244);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.outerDiv{
  /* position: absolute; */
  height: 15rem;
  width: 15rem;
  background-color: #0d3f70dd;
  border-radius:50%;
  padding: 1rem;
  color: #320bf3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: calc(30%); */
}



.scoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12rem;
  width: 12rem;
  border-radius:50%;
  padding: 1rem;
  color: #ffffff;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #667b9784;
}
.questionDiv {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 2rem;
  background-color: #94a8bc6f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 30%;
  width: 100%;
  border-bottom: 0.5px solid rgb(193, 227, 244);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.answerDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  padding: 2%;
  justify-content: center;
  
  
}

.answerButton {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
  background-color: transparent;
  margin: 10px;
}

.answerButton:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.next {
  right: 10px;
  bottom: -95px;
  position: absolute;
  height: 35px;
  width: 90px;
  font-size: 1rem;
  background-color: rgb(71, 71, 229);
  color: white;
}

.next:active, 
.next:focus {
  border: 0.5em solid #00c; 
  color: #00c;
}

.previousButton {
  position: absolute;
  bottom: -95px;
  height: 35px;
  width: 90px;
  font-size: 1rem;
  background-color: rgb(71, 71, 229);
  color: white;
}

header {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  height: 12vh;
  color: rgb(235, 233, 233);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.categoryDiv {
  color: #5f9dee;
  padding: 50px;
  width: 100%;
  display: flex;
  gap: 15px;
}

.categoryDiv div {
  margin-top: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.homePageDiv {
  display: block;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.categoryDiv div img {
  height: 90%;
  width: 90%;
  margin-bottom: 5px;
}

.categoryDiv div p {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.categoryDiv div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.leftDiv, .rightDiv {
  width: 100%;
}

.rightDiv {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.interest {
  display: inline;
  color: #59768e;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
}

.interestDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  width: 100%;
  height: 7vh;
  margin: 50px;
}

.selected {
  border: 2px green ridge;
  background-color: rgba(60, 100, 0, 0.3);
}

.displayListsMainDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
}

.displayListsMainDiv > div {
  cursor: pointer;
  border-radius: 2rem;
  flex: 1 0 20%;
  box-sizing: border-box; 
  /* border: solid; */
  border: .5px solid rgb(250, 250, 250);
  margin: 10px;
  text-align: center;

}

.displayListsMainDiv div img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%; 
  height: 60%; 
}

.geoQuizTitleDiv {
  color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #0b2031;
  height: 40%;
  padding: 20px;
}


.geoQuizTitleDiv > p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}


.next, .previousButton {
  position: absolute;
  bottom: -95px;
  height: 45px; 
  width: 120px; 
  font-size: 1.2rem;
  background-color: rgb(71, 71, 229);
  color: white;
  border: none;
  border-radius: 25px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.3s ease;
   */
   transition: background-color 0.3s ease, transform 0.3s cubic-bezier(1, -1.82, 0, 2.41);
}
.next:hover, .previousButton:hover {
  background-color: rgb(50, 50, 200); 
  transform: translateY(-3px); 
}
.answerButton {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
  background-color: transparent;
  margin: 10px;
  padding: 10px 20px; 
  border: 2px solid #5f9dee;
  border-radius: 25px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.answerButton:hover {
   background-color: rgba(95, 157, 238, 0.2);
   
   /* background-color: #9ff0c9; */
  transform: translateY(-3px); 
}

.answerButton:active, 
.answerButton:focus {
  outline: none; 
  background-color: rgba(95, 157, 238, 0.4); 
  border-color: #0073e6;
}


header {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Adjust padding for better spacing */
  height: 12vh;
  color: rgb(235, 233, 233);
  
}

.headerTag{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #ecf3fb; */
}
.leftHeader, .rightHeader {
  display: flex;
  align-items: center;
}

.leftHeader {
  flex: 70%;
  padding: 1rem;
}

.rightHeader {
  flex: 30%;
  padding: 1rem;
}

.homeAnchor {
  text-decoration: none;
  color: #5f9dee;
}

.leftHeader li, .rightHeader li {
  padding-left: 40px;
  font-size: 1.3rem;
  margin-top: 25px;
}

.leftHeader li a, .rightHeader li a {
  color: #5f9dee;
}


.scoreSpan{
  font-size:3rem;
  color: #f0ee9f;
}

.animate__tada{
  animation: bounce; 
  animation-duration: 2s;
}

.interest {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:oblique ;
  font-variation-settings:
    "slnt" ;
}


.triviaQuiz{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size: 4rem;
}

body {
  color: #2D3748;
  font-family: Arial, sans-serif;
}

header {
  background-color: #5A67D8; 
}

.leftHeader li a{
  color: #ecf3fb;
}
.animate__animated.animate__heartBeat {
  --animate-duration: 5s;
  --animate__repeat:5;
}
.animate__repeat:hover{
  transform: scale(1.2);
  border: 1.5px solid rgb(96, 96, 241);
}


.quizTimertext{
  font-size: 5em;
  text-align: center;
  margin-top: 10%;
 
}
.countdown {
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
















/* Media queries for responsiveness */

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
}

  .answerButton {
    font-size: 0.7rem;
    padding: 5px 14px; 
  }
  .byMayank{
    display: none;
  }
  .leftHeader{
    flex: none;
  }
  .interest {
    width: 100%;
  }
  .interestDiv{
    display: inline-block;
    height: 10vh;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  .interestDiv h2 {
    width: 80%;
    font-size: 1.8rem;
    
  }
  .displayListsMainDiv {
    flex-direction: column;
  }
  .questionDiv {
    font-size: 1.2rem;
  }
  .lets-Start-text {
    font-size: 1.5rem;
  }
  .dive-Into-text {
    font-size: 2.5rem;
  }
  .playNow-button {
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
  }
  .categoryDiv {
    flex-direction: column;
  }
  .categoryDiv div {
    width: 100%;
  }
  .next, .previousButton {
    height: 30px;
    width: 90px;
    font-size: 0.9rem;
  }
  .leftHeader p {
    font-size: 1.2rem;
  }
  .leaderboardLi{
    display: none;
  }
  .aboutLi{
    display: none;
  }
  .displayListsMainDiv{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .displayListsMainDiv >div{
    height: 80%;
    width: 80%;
  }
  .leftDivOfFrontHeaderMainDiv{
    display: flex;
    flex-direction: column;
  }
  .frontHeader{
    width: 100vw;
  }
  .playNow-button {
    margin-top: 20px;
    width: 8rem;
    padding: 1rem;
  }
  .imagePng {
    order: 3; 
    text-align: center; 
  }
  .frontHeaderMainDiv{
    display: flex;
    flex-direction: column-reverse;
  }
  .leftDivOfFrontHeaderMainDiv{
    position: absolute;
    top: 45%;
    width: 80%;
  }
  .playNow-button {
    order: 4; 
    margin-top: 20px;
    width: 8rem;
    padding: 1rem;
  }
  header{
    padding: 2vw;
   }
   .leftHeader li{
    position: relative;
    top: -1.5vh;
    /* display: flex; */
  }
  
 .interest{
  color: #0073e6;
  font-size: 2px;
 }  
 .outerDiv{
  width: 40vw;
  height: 40vw;
 }
  .scoreCard{
    width: 30vw;
    height: 30vw;
    font-size: medium;
  }
  .scoreSpan {
    font-size: medium;
  }
  header {
    padding: 0vw;
}
.triviaQuiz{
  font-size: 1.8rem !important;
}
}

